---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Serm Layout">
	<div class="container">
		<!-- HEADER V.1 -->
		<header class="py-8 sm:pb-14 sm:pt-12">
			<a href="/" class="xs:gap-4 xs:text-lg flex items-center gap-2 divide-x-2 divide-midnight text-left text-xs font-light sm:text-2xl">
				<img src="/img/kia/new_logo.svg" class="w-[35%] sm:w-[200px]" alt="ALT" />
				<span class="xs:pl-4 flex flex-col justify-between gap-2 pl-2 sm:gap-4">
					<span class="font-medium transition-colors duration-500 hover:text-yellow">Киа в Самаре</span>
					<span>Официальный дилер Kia</span>
				</span>
			</a>
		</header>
		<!-- END HEADER V.1 -->

		<!-- HEADER V.1.1 -->
		<header class="py-8 sm:pb-14 sm:pt-12">
			<a href="/" class="xs:gap-4 xs:text-lg flex items-center gap-2 divide-x-2 divide-midnight text-left text-xs font-light sm:text-2xl">
				<img src="/img/ottocar/logo.svg" class="w-[35%] sm:w-[200px]" alt="ALT" />
				<span class="xs:pl-4 flex flex-col justify-between gap-2 pl-2 sm:gap-4">
					<span>Проверенные авто с пробегом от официальных дилеров</span>
				</span>
			</a>
		</header>
		<!-- END HEADER V.1.1 -->

		<!-- HEADER V.2 -->
		<header class="py-8 pb-14 sm:pt-12">
			<a href="/" class="xs:gap-8 xs:text-lg flex items-center gap-4 text-left text-xs font-light sm:text-2xl">
				<img src="/img/kia/new_logo.svg" class="w-[35%] sm:w-[200px]" alt="ALT" />
				<span class="flex flex-col justify-between gap-2 sm:gap-4">
					<span class="font-medium transition-colors duration-500 hover:text-yellow">Киа в Самаре</span>
					<span>Официальный дилер Kia</span>
				</span>
			</a>
		</header>
		<!-- END HEADER V.2 -->

		<!-- HEADER V.3 -->
		<header class="py-8 pb-14 sm:pt-12">
			<a href="/" class="xs:text-lg flex flex-col items-center gap-4 text-xs font-light sm:text-xl">
				<img src="/img/ottocar/logo.svg" class="w-full" alt="ALT" />
				<span>Проверенные авто с пробегом от официальных дилеров</span>
			</a>
		</header>
		<!-- END HEADER V.3 -->

		<!-- SOCIAL -->
		<section x-data="social">

			<svg class="absolute w-0 h-0 opacity-0">
				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-46.0041" y1="634.1208" x2="-32.9334" y2="647.1917" gradientTransform="matrix(32 0 0 -32 1519 20757)">
					<stop  offset="0" style="stop-color:#FFC107"/>
					<stop  offset="0.507" style="stop-color:#F44336"/>
					<stop  offset="0.99" style="stop-color:#9C27B0"/>
				</linearGradient>
			</svg>

			<h2>Подпишись и получи <span class="text-green">проверку технических жидкостей</span> в <b class="text-yellow">подарок</b> 🎁</h2>

			<div class="flex flex-wrap gap-2 sm:gap-4 justify-center">
				<template x-for="(icon, key) in icons" :key="key">
					<a href="#" :class="`social-link ${key}`" target="_blank" x-html="icon"></a>
				</template>
			</div>

		</section>
		<!-- END SOCIAL -->
	</div>
</Layout>
