---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header/Header.astro';
import Social from '@/components/Social/Social.astro';
---

<Layout title="Serm Layout" descr="DESCRIPTION">
	<div class="container">

		<Header title="Киа в Самаре" logo="/img/kia/new_logo.svg" descr="Официальный дилер Kia" />

		<!-- <Header url="/" logo="/img/ottocar/logo.svg" descr="Проверенные авто с пробегом от официальных дилеров" />

		<Header url="/" title="Киа в Самаре" logo="/img/kia/new_logo.svg" descr="Официальный дилер Kia" divide={false} />

		<Header url="/" title="Проверенные авто с пробегом от официальных дилеров" logo="/img/ottocar/logo.svg"	version={2} /> -->

		<Social title='Подпишись и получи <span class="text-green">проверку технических жидкостей</span> в <b class="text-yellow">подарок</b> 🎁' />

	</div>
</Layout>
