---
const {  title= '', class: className, ...rest } = Astro.props; //rest - это любые входящие аттрибуты, например id, data-id, etc.
---
<section class={'py-7 border-b border-b-midnight '+className} {...rest}>
    {title && <h2 class="text-xl sm:text-2xl font-medium mb-6 sm:mb-10 tracking-[0.6px]"><Fragment set:html={title}/></h2>}
    <slot />
</section>