@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		src: url($furl) format("woff2");
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		font-display: "swap";
	}
}

@include font("KiaFont", normal, 300, "/fonts/KiaSignatureLight.woff2");
@include font("KiaFont", normal, 400, "/fonts/KiaSignatureRegular.woff2");
@include font("KiaFont", normal, 700, "/fonts/KiaSignatureBold.woff2");

body{
	@apply text-midnight text-center;
}
b, strong{
	@apply font-bold;
}